html, body
{  height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  color: rgb(202, 197, 197);
    height: 30px;
    font-size: 1rem;
    box-sizing: border-box;
    background:url(../image/cart.jpg);
}
.table{
    background: rgb(46, 45, 45);
}
.btn-default:hover{
    background: white;
    color: black;
}
.btn-default{
    background: black;
    color: white;
    margin-left: 30%;
}
a:hover{
    color:black;
}
a{
    color: white;
}
.navbar-custom{
    background-color: rgb(20, 18, 18);
}
.navbar{
    padding:0.5px;
    
}
.navbar-nav li{
    display: inline-block;
    padding-right: 20px;
}
h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px  #000;
    text-decoration: overline;
    margin-top: 5%;
}