html, body
{  height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  color: rgb(202, 197, 197);
    height: 30px;
    font-size: 1rem;
    box-sizing: border-box;
    background: url(../image/coffee.jpg);
}
.form{
    margin-top: 20%;
    margin-top: 10%;
}

  
.navbar-custom{
    background-color: rgb(20, 18, 18);
}
.navbar{
    padding:0.5px;
    
}
.navbar-nav li{
    display: inline-block;
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1rem !important;
}
.button:hover{
    background: white; 
    color: black;
    border: 1px solid white;
    margin-left: 40%;
    border-radius: 10%;
    padding:10px 20px;
}
.button{
    background: black;
     color: white;
     border: 1px solid white;
     margin-left: 40%;
    border-radius: 10%;
    padding:10px 20px;
}
.image{
    height: 100%;
    width: 100;
}
.image img{
    margin-left: 15%;
    height: 70%;
    width: 70%;
}
h1{
    font-family: 'Courgette', cursive;
}
@media (max-width: 992px){
  }
  
  
  @media (max-width: 768px){
    .button{
        margin-left: 20%;
    }
    
  }
       
  
  @media (max-width: 576px){
  .button{
      margin-left: 20%;
  }
  }