html, body
{  height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  color: rgb(202, 197, 197);
    height: 30px;
    font-size: 1rem;
    box-sizing: border-box;
}
  
.navbar-custom{
    background-color: rgb(20, 18, 18);
}
.navbar{
    padding:0.5px;
    
}
.navbar-nav li{
    display: inline-block;
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1rem !important;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top:50%;
    transform: translatey(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px  #000;
    text-decoration: overline;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 400;
    text-shadow: 1px 1px  #000;
}
.padding{
    padding-bottom: 2rem;
}

footer{
    background-color:rgb(20, 18, 18);
    color: #d5d5d5;
    padding: 10px;
}


@media (max-width: 992px){


}
@media (max-width: 768px){

    .carousel-caption{
        top:40%;   
    }
    .carousel-caption h1{
        font-size: 350%;
        text-transform: uppercase;
        text-shadow: 1px 1px  #000;
        text-decoration: overline;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        text-shadow: 1px 1px  #000;
    }
    
    
}
@media (max-width: 576px){

    .carousel-caption{
        top:40%;   
    }
    .carousel-caption h1{
        font-size: 250%;
        text-transform: uppercase;
        text-shadow: 1px 1px  #000;
        text-decoration: overline;
    }
    .carousel-caption h3{
        font-size: 100%;
        font-weight: 400;
        text-shadow: 1px 1px  #000;
    }
}